<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-layout/src/ui-layout.css"/>
    <link rel="stylesheet" href="/app.css">
    </script><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>

    <!-- script type="text/javascript" src="bower_components/raf/index.js"></script -->
    <script type="text/javascript" src="bower_components/angular-ui-layout/src/ui-layout.js"></script>
    <script src='/app.js'></script>
  </head>
  <body ng-app="app">
    <div ui-layout options="{ flow : 'row', dividerSize: '8px', disableToggle: true}">
      <div ui-layout-container>
        <!-- North -->
        Chatroom
      </div>
      <div ui-layout-container>
        <div ui-layout options="{ flow : 'column', dividerSize: '8px', disableToggle: true }">
          <div ui-layout-container>
            <!-- Rooms -->
            <div ng-controller='RoomsCtrl' class='container' style='width: 100%; margin-top: 10px;'>
              <ul class='list-group'>
                <li ng-repeat='room in rooms' class='list-group-item'>
                  <strong>{{room.roomname}}</strong>
                </li>
              </ul>
            </div>
          </div>
          <div ui-layout-container></div>
          <div ui-layout-container></div>
         </div>
      </div>
      <div ui-layout-container></div>
    </div>
  </body>
</html>
