<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-layout/src/ui-layout.css"/>
    <link rel="stylesheet" href="/app.css">
    </script><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>

    <!-- script type="text/javascript" src="bower_components/raf/index.js"></script -->
    <script type="text/javascript" src="bower_components/angular-ui-layout/src/ui-layout.js"></script>
    <script src='/app.js'></script>
  </head>
  <body ng-app="app">
    <nav class='navbar navbar-default'>
      <div class='container'>
        <ul class='nav navbar-nav'>
          <li><a href="/#/">Rooms</a></li>
          <li><a href="/#/register">Register</a></li>
          <li><a href="/#/login">Login</a></li>
        </ul>
      </div>
    </nav>
    <div ng-view></div>
  </body>
</html>
