<!--
            <div class='container' style='width: 100%; margin-top: 10px;'>
              <ul class='list-group'>
                <li ng-repeat='room in rooms' class='list-group-item'>
                  <strong>{{room.roomname}}</strong>
                </li>
              </ul>
            </div>
-->
<div class="container">
  <h2>Rooms</h2>
  <uib-accordion close-others="true">
    <div uib-accordion-group ng-repeat='room in rooms'>
        <uib-accordion-heading>{{room.roomname}}</uib-accordion-heading>
    </div>
  </uib-accordion>
</div>
